*{  margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
li{list-style:none;}
a{text-decoration: none;}
.clear{
    clear:both;
}

#warper{
    width: 100%;
    font-family:微软雅黑;
}
/*----------header------------*/
#pic img{
    position:absolute;
    width: 100%;
    height: 750px;
}
#header{
    width: 80%;
    margin:0 auto;
    position:relative;
}
.logo{
    float: left;
    margin-top:40px;
}
.logo-right{
    float: left;
    margin-top:45px;
    margin-left:5%;
}
.header-right{
    float:right;
    margin-left:3%;
    margin-top:15px;
}
.header-right p a{
    color:red;
    padding:0 10px;
    border-right:1px #fff solid;
}
.header-right p a:last-child{
    border:0;
    color:#fff;
}
.search{
    margin-top:15px;
}
.search input{
    width: 75%;
    height: 25px;
    opacity:0.7;
}
.search button{
    height: 28px;
    width: 20%;
    font-weight:bold;
    cursor:pointer;
    opacity:0.8;
}
/*---------nav--------*/
#nav{
    width: 100%;
    background: #3768ce;
    height: 50px;
    position:relative;
    float: left;
    margin-top:20px;
}
#nav>ul{
    width: 80%;
    margin:0 auto;
}
#nav>ul>li{
    float: left;
    font-size:18px;
    width: 12.3%;
    line-height:50px;
    border-left:1px #f1f1f1 solid;
    cursor: pointer;
    text-align:center;
}
#nav>ul>li:last-child{
    border-right:1px #fff solid;
}
#nav>ul>li:first-child{
    background:#a1b4ce;
}
#nav>ul>li>a{
    color:#fff;
    padding:10px;
}
#nav ul li:hover{
    background: #a1b4ce;
}
#nav ul li a:hover{
    color:#fff;
}
#nav .icon-bot li{
    border-left:none;
    /*line-height:30px;*/
    font-size:14px;
    background: #f1f1f1;
    opacity:0.8;
}
.icon-bot{
    display:none;
    position:relative;
    z-index: 333;
}
.icon-bot li a{
    color:#000;
}

/*----------------main------------*/
#main-w{
    width: 100%;
    /*height: 400px;*/
    position:relative;
    float: left;
}
#main{
    width: 80%;
    /*height: 300px;*/
    /*background:green;*/
    margin:0 auto;
    margin-top:50px;
}
.main-left{
    width: 28%;
    /*height: 280px;*/
    margin-left:3%;
    background: #1b7cce;
    opacity:0.9;
    z-index:222;
    color:#fff;
    float: left;
}
.main-left h3{
    float: left;
    margin-left:10%;
    margin-top:15px;
}
.main-left a{
    float: left;
    margin:20px 0 0 5%;
}
.main-left form{
    clear:both;
}
.main-left form label{
    margin-left:10%;
}
.main-left form select{
    width: 50%;
    margin-top:16px;
}
.main-left form .sel{
    margin-top:25px;
}
.main-left button{
    width: 25%;
    height: 35px;
    font-size:18px;
    margin:30px 0 25px 35%;
}
.main-right{
    width: 50%;
    /*height: 280px;*/
    background:#1b7cce;
    float: left;
    opacity:0.9;
    z-index:222;
    color:#fff;
    margin-left:15%;
}
.main-right h3{
    float: left;
    margin-left:5%;
    margin-top:15px;
    font-size:20px;
}
.main-right a{
    color:#fff;
    float: right;
    margin-right:10%;
    margin-top:22px;
}
.main-right ul{
    margin-top:26px;
}
.main-right ul li{
    width: 100%;
    height: 69px;
    border-bottom:1px dotted #fff;
    line-height:65px;
}
.main-right ul li:first-child{
    border-top:1px dotted #fff;
}
.main-right ul li p{
    margin-left:5%;
    float: left;
}
.main-right ul li span{
    float: right;
    margin-right:3%;
}
.main-right ul li:hover{
    background:cornflowerblue;
}
.main-bottom{
    width: 100%;
    height:70px;
    /*clear:both;*/
    margin-top:188px;
}

.bto1,.bto2,.bto3{
    width: 40%;
    /*height: 100px;*/
    background:#000;
    opacity:0.8;
    float: left;
    margin-top:50px;
}
.bto1{
    display:none;
}
.bto2{
    margin-left:25%;
    display:none;
}
.bto3{
    margin-left:50%;
    display:none;
}
.bto1 ul li a{
    color:#fff;
    float: left;
    line-height:30px;
    margin-left:15px;
    margin-top:20px;
}
.bto1 ul li a:hover{
    background: #7ca6ba;
}
.bto2 ul li a:hover{
    background:#7ca6ba;
}
.bto3 ul li a:hover{
    background:#7ca6ba;
}
.bto2 ul li a{
    color:#fff;
    float: left;
    line-height:30px;
    margin-left:15px;
}
.bto3 ul li a{
    color:#fff;
    float: left;
    line-height:40px;
    margin-left:15px;
    margin-top:5px;
}
.main-bottom ul li{
    float: left;
    height: 70px;
    width: 24.5%;
    background:#1b34ce;
    margin-left:2px;
    cursor: pointer;
    opacity:0.8;
    transform-origin: bottom;
}
.main-bottom ul li a{
    color:#fff;
    line-height:70px;
    margin-left:34%;
    font-size:1.2em;
}
.bto>ul>li>a:hover{
    background: #1a2ca6;
}
.main-bottom li:nth-child(1):hover{
    transform:scaleY(1.2);
    background:#007bff;
    font-size:0.9em;
}
.main-bottom li:nth-child(2):hover{
    transform:scaleY(1.2);
    background:#007bff;
    font-size:0.9em;
}
.main-bottom li:nth-child(3):hover{
    transform:scaleY(1.2);
    background:#007bff;
    font-size:0.9em;
}.main-bottom li:nth-child(4):hover{
     transform:scaleY(1.2);
     background:#007bff;
     font-size:0.9em;
 }
/*------------------content---------------*/
#content-w{
    background: #f2ebed;
    /*height: 700px;*/
    width: 100%;
    float: left;
    /*margin-top:187px;*/
}
.content{
    width: 80%;
    margin:0 auto;
    /*background: #1ab227;*/
    height:600px;
    color:#545454;
}
.content-left{
    width: 30%;
    height: 370px;
    background:#fff;
    float: left;
    margin-top:5px;
    border-bottom:1px solid #b5b5b5;
    border-top:1px solid #b5b5b5;
}
.content-right{
    width: 69%;
    height: 370px;
    margin-left:1%;
    background:#fff;
    float: left;
    margin-top:5px;
    border-bottom:1px solid #b5b5b5;
    border-top:1px solid #b5b5b5;
}
.content-left h4{
    float: left;
    margin-left:5%;
    margin-top:20px;
    color:cornflowerblue;
    font-size:18px;
}
.content-left a{
    float: left;
    margin-left:45%;
    margin-top:24px;
    color:cornflowerblue;
}
.content-left ul{
    margin-top:20px;
    margin-left:5%;
}
.content-left ul li{
    margin-top:10px;
    cursor: pointer;
    font-size:14px;
}
.content-left ul li:hover{
    color:red;
}
.content-left ul li span{
    font-size:12px;
    padding-right:10px;
    color:orange;
}
.content-right h4{
    float: left;
    margin-left:5%;
    margin-top:20px;
    color:cornflowerblue;
    font-size:18px;
}
.content-right a{
    float: left;
    margin-left:65%;
    margin-top:24px;
    color:cornflowerblue;
}
.content-left>a span,.content-right>a span{
    color:orange;
}
.content-right img{
    width: 90%;
    margin-left:4%;
    height: 80px;
    margin-top:20px;
}
.content-right p{
    width: 90%;
    margin-left:4%;
    font-size:14px;
    line-height:24px;
    margin-top:15px;
}
.content-right .p{
    margin-left:80%;
    font-size:14px;
    cursor: pointer;
}
.content-right .p:hover{
    color:red;
}
.content-bottom{
    width: 100%;
    background:#fff;
    height: 250px;
    margin-top:3px;
    float: left;
    border-top:1px solid #b5b5b5;
}
.content-bottom h4{
    font-size:18px;
    margin-top:20px;
    margin-left:4%;
    float: left;
}
.content-bottom>a{
    float: left;
    margin-left:65%;
    margin-top:25px;
    color:cornflowerblue;
}
.content-bottom>a>span{
    color:orange;
}
#marquee{
    float: left;
    width: 90%;
    height: 130px;
    position:relative;
    overflow:hidden;
    margin-left: 3%;
    margin-top:30px;
}
#marquee ul{
    position:absolute;
    left:0;
    top:0;
}
#marquee ul li{
    float: left;
    margin-left:10px;
    width: 170px;
    height: 130px;
    text-align:center;
}
#marquee img{
    width: 160px;
    height: 100px;
    border:1px solid #b5b5b5;
    padding:3px;
}
#marquee li a{
    font-size:12px;
    color:#000;
}



/*-------------------------footer-----------*/
#footer{
    width: 100%;
    background: #f2ebed;
    float: left;
    height: 110px;
    text-align:center;
}
#footer p{
    line-height:16px;
    font-size:12px;
    margin-top:6px;
    color: #545454;
}
#footer .p1{
    margin-top:20px;
}
.footer-top{
    width: 100%;
    height: 2px;
    border-top:1px solid #c9c9c9;
    border-bottom:1px solid #c9c9c9;
    background: #fff;
    margin-top:10px;
}




@media all and (max-width:1200px){
    .header-right {
    margin-left: 2%;
    margin-top: 36px;
    }
    #nav{
        height: 63px;
    }
    #nav>ul{
        width: 99%;
    }

    #nav>ul>li>a {
        padding: 0px;
    }
    #nav>ul>li{
        width: 12.3%;
        line-height: 3.6;
    }
    .main-left {
        width: 32%;
        margin-left: 0;
    }
    .main-left form .sel {
         margin-top: 0;
    }
    .main-left form select {
         margin-top: 2px;
        margin-left: 43px;
    }
    .main-left button{
        height: 28px;
        font-size: 17px;
        margin: 2px 0 20px 34%;
    }
    .main-right {
        margin-left: 2%;
    }
    .main-right ul{
        margin-top: 1px;
    }
    .main-right ul li{
        height: 80px;
        line-height: 3;
    }
    .main-right ul li p{
        /*padding: 5px;*/
        margin-left: 0;
        width: 53%;
    }
    .main-bottom ul li a {
        margin-left: 12%;
    }
    .content-left{
        margin-top: 18px;
    }
    .content-left h4{
        margin-top: 8px;
        font-size:19px;
        margin-left: 0;
    }
    .content-left a{
        margin-left: 13px;
    }
    .content-left ul li{
        margin-top: 0;
    }
    .content-right{
        margin-top: 17px;
    }
    .content-right h4{
        margin-top: 10px;
    }
    .content-right a{
        margin-top: -17px;
    }
    .content-right img{
        margin-top: 0;
    }
    .content-right p{
        line-height: 1;
    }
    .content-bottom>a{
        margin-left: 63%;
        margin-top: 20px;
    }





    }

@media all and (min-width:600px) and (max-width:1000px){
    .logo{
        margin-top: 10px;
    }
    .logo-right{
        margin-top: 17px;
    }
    #pic img{
        height: 830px;
    }
    .header-right{
        float: none;
        margin-left:55%;
        margin-top:0;
        padding-top:110px;
    }
    .header-right{
        width: 37%;
    }
    #nav>ul>li{
        font-size:18px;
        padding:0;
    }
    #nav .icon-bot li{
        font-size:12px;
    }
    .main-left{
        width: 30%;
    }
    .main-left h3{
        margin-left:4%;
        font-size:16px;
    }
    .main-left form label{
        margin-left:6%;
    }
    .main-left button{
        height: 30px;
        font-size:16px;
    }
    .main-right ul li span{
        margin-right:2%;
        font-size:12px;
    }
    .main-right ul li p{
        font-size:14px;
    }
    .content-left a{
        float: left;
        margin-left:20%;
    }
    .main-bottom ul li a{
        margin-left: 30%;
        font-size: 1em;
    }
}
@media all and (max-width:599px){
    .logo{
        margin-top: 17px;
    }
    .logo-right{
        margin-left: 0;
        margin-top: 17px;
    }
    #nav>ul{
        width: 99%;
    }
    #nav>ul>li{
        width: 12.3%;
        line-height: 3.5;
    }
    #nav>ul>li>a{
        font-size:12px;
    }
    .header-right{
        margin-top: 0;
    }
    .main-right{
        margin-left:10%;
    }
    .main-right p{
        font-size:12px;
    }
    .main-right span{
        font-size:12px;
    }
    .main-bottom ul li{
        width: 19.5%;
        height: 59px;
    }
    .bto1, .bto2, .bto3 {
        width: 60%;
        margin-top: 100px;
    }
    .bto1 ul li a{
        line-height: 1em;
    }
    .bto2 ul li a{
        line-height: 1em;
    }
    .bto3 ul li a{
        line-height: 1em;
    }
    .content-left{
        line-height: 1.4;
    }
    .content-left ul li{
        font-size:12px;
    }
    .content-right .p {
     margin-left: 74%;
    }
    .content-right p {
        width: 87%;
    }
    .content-right a{
        margin-left: 75%;
    }
    
}
 /*--------------联系我们-----------------*/

.izl-rmenu{
    margin-right: 0;
    width: 82px;
    position: fixed;
    right: 2px;
    top: 65%;
    -webkit-box-shadow: #DDD 0px 1px 5px;
    -moz-box-shadow: #DDD 0px 1px 5px;
    box-shadow: #DDD 0px 1px 5px;
    z-index:999;
}
.izl-rmenu .consult{
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center -77px;
    display: block;
    height: 76px;
    width: 82px;
}
.izl-rmenu .consult .phone {
    background-color: rgb(247,247,255);
    position: absolute;
    width: 160px;
    left: -160px;
    top: 0px;
    line-height: 73px;
    color: #000;
    font-size: 18px;
    text-align: center;
    display: none;
    box-shadow: #DDD -1px 1px 4px;
}
.izl-rmenu a.consult:hover .phone{display:inline !important;}
.izl-rmenu .cart {
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #45BDFF;
    text-align: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 47px;
    padding-left: 48px;
}
.izl-rmenu a.cart:hover .pic{display:block;}
.izl-rmenu .btn_top {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 39px;
    width: 82px;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.izl-rmenu .btn_top:hover {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.izl-rmenu .cart .pic {
    display:none;
    position: absolute;
    left: -160px;
    top: 65px;
    width: 160px;
    height: 160px;
    background:url(../images/weixin.jpg);
}
#udesk-feedback-tab {
    position: fixed;
    right: 2px;
    top: 65%;
    margin-top: -76px;
    -webkit-box-shadow: #DDD 0px -1px 5px;
    -moz-box-shadow: #DDD 0px -1px 5px;
    box-shadow: #DDD 0px -1px 5px;
    z-index: 10000;
    cursor: pointer;
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 76px;
    width: 82px;
    background-color: #FFF!important;
    z-index:999;
}