*{  margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
li{list-style:none;}
a{text-decoration: none;}
.clear{
    clear:both;
}

#warper{
    width: 100%;
    font-family:微软雅黑;
}/*----------header------------*/
#header{
    width: 80%;
    margin:0 auto;
    position:relative;
}
.logo{
    float: left;
    margin-top:40px;
}
.logo-right{
    float: left;
    margin-top:45px;
    margin-left:100px;
}
.header-right{
    float:right;
    margin-left:3%;
    margin-top:15px;
}
.header-right p a{
    color:red;
    padding:0 10px;
    border-right:1px #000 solid;
}
.header-right p a:last-child{
    border:0;
    color:#000;
}
.search{
    margin-top:15px;
}
.search input{
    width: 220px;
    height: 25px;
    opacity:0.7;
}
.search button{
    height: 28px;
    width: 40px;
    font-weight:bold;
    cursor:pointer;
    opacity:0.8;
}
/*---------nav--------*/
#nav{
    width: 100%;
    background: #3768ce;
    height: 50px;
    position:relative;
    float: left;
    margin-top:20px;
}
#nav>ul{
    width: 80%;
    margin:0 auto;
}
#nav>ul>li{
    float: left;
    font-size:18px;
    width: 12.3%;
    line-height:50px;
    border-left:1px #f1f1f1 solid;
    cursor: pointer;
    text-align:center;
}
#nav>ul>li:last-child{
    border-right:1px #fff solid;
}
#nav>ul>li:nth-child(7){
    background:#a1b4ce;
}
#nav>ul>li>a{
    color:#fff;
    padding:10px;
}
#nav ul li:hover{
    background: #a1b4ce;
}
#nav ul li a:hover{
    color:#fff;
}
#nav .icon-bot li{
    border-left:none;
    line-height:30px;
    font-size:14px;
    background: #f1f1f1;
    opacity:0.8;
}
.icon-bot{
    display:none;
    position:relative;
    z-index: 333;
}
.icon-bot li a{
    color:#000;
}
#banner img{
    width: 100%;
    float: left;
    height: 270px;
}
/*-------------main-------------*/
#main-w{
    width: 100%;
    float: left;
    background:url(../images/h103.jpg);
}
#main{
    width: 80%;
    margin:0 auto;
}
#main-left{
    width: 20%;
    height: 221px;
    background:#fff;
    position:relative;
    bottom:60px;
    border:1px solid #a1b4ce;
    float: left;
}
#main-left h2{
    padding-left:5%;
    width: 95%;
    height: 60px;
    line-height: 60px;
    background:#3768ce;
    color:#fff;
}
#main-left ul li a{
    color:#000;
    line-height:53px;
    margin-left:8%;
}
#main-left ul li span{
    float: right;
    margin-right:10%;
    line-height:53px;
    color:#fff;
}
#main-left ul li{
    border-bottom:1px solid #c9c9c9;
    cursor: pointer;
}
#main-left ul li:nth-child(2){
    background:lightsteelblue;
}
#main-left ul li:last-child{
    border-bottom:0;
}

#main-right{
    width: 70%;
    background:#fff;
    float: left;
    margin-left:3%;
    margin-top:15px;
}
#main-right a{
    float: right;
    margin-right:5%;
    color: #5d5d5d;
    line-height:100px;
}
#main-right a span{
    color: #4e6cbb;
}
#main-right h1{
    text-align:center;
    color:#4e6cbb;
    font-size:26px;
    margin-top:10px;
}
#main-right p{
    width: 90%;
    margin-left:5%;
    line-height:30px;
    font-size:14px;
    color:#5d5d5d;
    margin-top:20px;
}
#main-right img{
    width: 70%;
    margin-left:15%;
    margin-top:30px;
}
#main-right h2{
    font-size:18px;
    margin-left:5%;
    margin-top:30px;
    color: #5d5d5d;
}
#main-right ul li{
    margin-left:10%;
    font-size:14px;
    line-height:44px;
    color: #5d5d5d;
}
#main-right ul{
    margin-top:20px;
}
#main-right a button{
    width: 160px;
    height: 55px;
    font-size:20px;
    cursor: pointer;
    font-weight: bold;
}

/*-------------------------footer-----------*/
#footer{
    width: 100%;
    background: #f2ebed;
    float: left;
    height: 110px;
    text-align:center;
}
#footer p{
    line-height:16px;
    font-size:12px;
    margin-top:6px;
    color: #545454;
}
#footer .p1{
    margin-top:20px;
}
.footer-top{
    width: 100%;
    height: 2px;
    border-top:1px solid #c9c9c9;
    border-bottom:1px solid #c9c9c9;
    background: #fff;
    margin-top:10px;
}













/*--------------联系我们-----------------*/

.izl-rmenu{
    margin-right: 0;
    width: 82px;
    position: fixed;
    right: 2px;
    top: 65%;
    -webkit-box-shadow: #DDD 0px 1px 5px;
    -moz-box-shadow: #DDD 0px 1px 5px;
    box-shadow: #DDD 0px 1px 5px;
    z-index:999;
}
.izl-rmenu .consult{
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center -77px;
    display: block;
    height: 76px;
    width: 82px;
}
.izl-rmenu .consult .phone {
    background-color: rgb(247,247,255);
    position: absolute;
    width: 160px;
    left: -160px;
    top: 0px;
    line-height: 73px;
    color: #000;
    font-size: 18px;
    text-align: center;
    display: none;
    box-shadow: #DDD -1px 1px 4px;
}
.izl-rmenu a.consult:hover .phone{display:inline !important;}
.izl-rmenu .cart {
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #45BDFF;
    text-align: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 47px;
    padding-left: 48px;
}
.izl-rmenu a.cart:hover .pic{display:block;}
.izl-rmenu .btn_top {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 39px;
    width: 82px;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.izl-rmenu .btn_top:hover {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.izl-rmenu .cart .pic {
    display:none;
    position: absolute;
    left: -160px;
    top: 65px;
    width: 160px;
    height: 160px;
    background:url(../images/weixin.jpg);
}
#udesk-feedback-tab {
    position: fixed;
    right: 2px;
    top: 65%;
    margin-top: -76px;
    -webkit-box-shadow: #DDD 0px -1px 5px;
    -moz-box-shadow: #DDD 0px -1px 5px;
    box-shadow: #DDD 0px -1px 5px;
    z-index: 10000;
    cursor: pointer;
    background-image: url(../images/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 76px;
    width: 82px;
    background-color: #FFF!important;
    z-index:999;
}