*{  margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------------warper--------*/
#warper>img{
    width: 100%;
    height: 730px;
    position:absolute;
    z-index:222;
}
#header{
    width: 80%;
    margin:0 auto;
    position:relative;
    z-index:333;
    padding-top:20px;
}
#header a{
    text-decoration: none;
    color: #ff9835;
    font-size:20px;
    position:relative;
    top:20px;
}
#main{
    width: 50%;
    margin:0 auto;
    background:#fff;
    height: 500px;
    position:relative;
    z-index:444;
    top:40px;
    opacity:0.8;
}
#from{
    width: 80%;
    margin:0 auto;
    padding-top:30px;
}
#main input{
    margin-top:30px;
    margin-left:5%;
    width: 45%;
    height: 26px;
}
#main button{
    width: 100px;
    height: 30px;
}
.btn1{
    margin-left:2%;
}
.btn2{
    margin-top:40px;
    margin-left:30%;
}