*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    transform: rotateZ(-90deg);
    position: absolute;
    left: 186px;
    top: 670px;
}
.swiper{
    transform-origin: center;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:3%;
    margin-left:-13.5px;
    transform: rotate(-90deg);
    width: 17px;
    height: 29px;
    background-size: contain;
    animation: buttonnext 1.5s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:8%;
        opacity:0;
    }
}

/*-------------音乐小图标----------*/
#mp3Btn{
    position: absolute;
    top: 4%;
    right: 5%;
    z-index:100;
    width: 30px;
    height: 31px;
    background:rgba(0,0,0,0.4);
    border-radius:50%;
    border:4px solid #66478c;
    text-align: center;
    line-height:28px;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes mp3key {
    from{
        transform:rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg)
    }
}
#mp3Btn img{
    width: 10px;
}

/*--------------总样式----------------*/
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8{
    background: url("../img/1.jpg");
    height: 100%;
    position: relative;
    background-size:contain;
    color: #fff;
}
.footer img{
    width: 100%;
    height: 26%;
    position:absolute;
    bottom:0;
    left:0;
}


/*----------------第一屏样式----------*/
.s1 .pic img{
    width: 82%;
    position:absolute;
    top:13%;
    left:10%;
    height: 27%;
}
.s1 .text h2{
    position: absolute;
    width: 80%;
    top: 46%;
    left: 10%;
    font-size: 2em;
    font-family:仿宋;
    font-weight: normal;
    letter-spacing: -3px;
}
.s1 .text-p{
    text-align: left;
    position: absolute;
    top: 64%;
    left: 24%;
    font-size: 16px;
    line-height: 32px;
    z-index: 100;
    color: rgb(221, 245, 131);
}