*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    transform: rotate(90deg);
    left:50%;
    right:auto;
    top:auto;
    bottom:3%;
    margin-left:-13.5px;
    animation: flash infinite;
}


/*��一屏首页��*/

.s1,.s2{
    background: url(../img/bj.png);
    height: 100%;
    position:relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position:absolute;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position:absolute;
    top: 96px;
    left:276px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(3){
    width: 60px;
    position:absolute;
    top: 430px;
    left: 36px;
    animation: pulse infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position:absolute;
    bottom:200px;
    right:48px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    position:absolute;
    top:25%;
    left: 50%;
    margin-left:-35%;
    animation: flash infinite;
}


/*main*/
.s1 .main{
    position:relative;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    animation:  flipInX infinite;
}
.s1 .main p{
    color:#000;
}
.s1 .main .img9{
    background:url(../img/9.png);
    width: 207px;
    height: 24px;
    background-size:100%;
    margin:auto;
    font-weight:bold;
    font-size:16px;
    line-height:25px;
    margin-top:20px;
}

/*footer*/
.s1 .footer{
    color:#01f2cf;
    position:absolute;
    width: 100%;
    bottom:70px;
}
.s1 .footer p:nth-of-type(2){
    margin-bottom: 35px;
    font-size:16px;
}
.s1 .footer p:nth-of-type(3){
    height: 70px;
}
.s1 .footer img{
    position: absolute;
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    left: 0;
}
.s1 .footer img:nth-of-type(2){
    left: -95px;
}

/*-------------第二屏-----------*/
.s2{
    color:#00f8ca;
}
.s2 h2{
    font-size: 24px;
    position:relative;
    top:15%;
}
.s2 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}
.s2 h2::before,
.s2 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s2 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s2 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}


.s2 div{
    position:absolute;
    width: 100%;
    top:25%;
}
.s2 div img{
    width: 80%;
    position:absolute;
    margin-left: -40%;
}
.s2 div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 div p{
    width: 70%;
    text-align:left;
    margin:auto;
    font-size:14px;
    line-height:1.8em;

}
.s2 div span{
    background-color: #00e8f2;
    background:-webkit-linear-gradient(left,#00e8f2,#01faa8);
    padding:4px 29px;
    border-radius:12px;
    color:#000;
    font-weight:bold;
    font-size:16px;
    position:relative;
    top: 20px;
}
