*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    transform: rotate(-90deg);
    left:50%;
    right:auto;
    top:auto;
    bottom:3%;
    margin-left:-13.5px;
    animation: flash infinite;
}

/*-------------音乐小图标----------*/
#mp3Btn{
    position: absolute;
    top: 4%;
    right: 5%;
    z-index:100;
    width: 30px;
    height: 31px;
    background:rgba(0,0,0,0.5);
    border-radius:50%;
    border:4px solid #292929;
    text-align: center;
    line-height:28px;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes mp3key {
    from{
        transform:rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg)
    }
}
#mp3Btn img{
    width: 10px;
}










/*------------一屏首页----------*/

.s1,.s2,.s3,.s4{
    background: url(../img/bj.png);
    height: 100%;
    position:relative;
    color:#01f2cf;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position:absolute;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position:absolute;
    top: 96px;
    left:276px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(3){
    width: 60px;
    position:absolute;
    top: 430px;
    left: 36px;
    animation: pulse infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position:absolute;
    bottom:200px;
    right:48px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    position:absolute;
    top:25%;
    left: 50%;
    margin-left:-35%;
    animation: flash infinite;
}


/*main*/
.s1 .main{
    position:relative;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    animation:  flipInX infinite;
}
.s1 .main p{
    color:#000;
}
.s1 .main .img9{
    background:url(../img/9.png);
    width: 207px;
    height: 24px;
    background-size:100%;
    margin:auto;
    font-weight:bold;
    font-size:16px;
    line-height:25px;
    margin-top:20px;
}

/*footer*/
.s1 .footer{
    color:#01f2cf;
    position:absolute;
    width: 100%;
    bottom:70px;
}
.s1 .footer p:nth-of-type(2){
    margin-bottom: 35px;
    font-size:16px;
}
.s1 .footer p:nth-of-type(3){
    height: 70px;
}
.s1 .footer img{
    position: absolute;
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    left: 0;
}
.s1 .footer img:nth-of-type(2){
    left: -95px;
}

/*-------------第二屏-----------*/
.s2{
    color:#00f8ca;
}
.s2 h2{
    font-size: 24px;
    position:relative;
    top:10%;
}
.s2 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}
.s2 h2::before,
.s2 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s2 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s2 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}


.s2 div{
    position:absolute;
    width: 100%;
    top:25%;
}
.s2 div img{
    width: 80%;
    position:absolute;
    margin-left: -40%;
}
.s2 div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 div p{
    width: 70%;
    text-align:left;
    margin:auto;
    font-size:14px;
    line-height:1.8em;

}
.s2 div span{
    background-color: #00e8f2;
    background:-webkit-linear-gradient(left,#00e8f2,#01faa8);
    padding:4px 29px;
    border-radius:12px;
    color:#000;
    font-weight:bold;
    font-size:16px;
    position:relative;
    top: 20px;
}




/*-------------第三屏--------------*/
.s3 h2{
    font-size: 24px;
    position:relative;
    top:10%;
}
.s3 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}
.s3 h2::before,
.s3 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s3 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s3 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}

.s3 div:nth-of-type(1){
    width: 80%;
    height: 380px;
    position:absolute;
    top: 18%;
    left: 50%;
    margin-left: -40%;
}
.s3 div:nth-of-type(1) p{
    /*径向渐变*/
    background: -webkit-radial-gradient(circle,#0c0022,#006275); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(circle,#0c0022,#006275); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(circle,#0c0022,#006275); /* Firefox 3.6 - 15 */
    background: radial-gradient(circle,#0c0022,#006275); /* 标准的语法（必须放在最后） */

    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius:50%;
}
.s3 div:nth-of-type(1) p:nth-of-type(1){
    width: 134px;
    height: 134px;
    line-height:134px;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -67px;
}
.s3 div:nth-of-type(1) p:nth-of-type(2){
    top:7%;
    left:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(3){
    top:7%;
    right:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(4){
    top:41%;
    left:-7%
}
.s3 div:nth-of-type(1) p:nth-of-type(5){
    top:41%;
    right:-7%;
}
.s3 div:nth-of-type(1) p:nth-of-type(6){
    bottom:7%;
    left:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(7){
    bottom:7%;
    right:14%;
}
.s3 .title{
    width: 75%;
    height: 66px;
    font-size:14px;
    line-height:33px;
    border-left:3px solid #00e6b6;
    padding-left: 20px;
    text-align:left;
    position:absolute;
    left:15%;
    bottom:14%;
}


/*----------第四屏--------------*/
.s4 h2{
    font-size: 24px;
    position:relative;
    top:10%;
}
.s4 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}
.s4 h2::before,
.s4 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s4 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s4 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}
.s4 div{
    position:absolute;
    width: 100%;
    top:22%;
}
.s4 div img{
    width: 82%;
    position:absolute;
    margin-left: -41%;

}
